body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; 
    color: #343a40; 
    line-height: 1.6;
  }

  .navbar {
    background-color: #001f3f; 
  }

  .navbar a {
    color: #ffdc00; 
  }

  .jumbotron {
  
    background-size: cover;
    background-position: center;
    color: #002b7a; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#f8f9fa;
    margin-top: 1in;
    padding: 2rem;
  }

  .card {
    border: 2px solid #001f3f; 
    background-color: #ecdd7c;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .list-group-item {
    border: none;
    color: #001f3f;
    font-weight: bold;
    background-color: #ecdd7c;
  }

  .footer {
    background-color: #001f3f; 
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 1in;
  }

 
   h3 {
    color: #043d77; 
  }

  h2{
    color: #0c1a35;
    font-weight: bolder;
  }

  hr {
    background-color: #001f3f; 
  }

  .vision-mission p {
    color: #343a40; 
  }

  .container {
    margin-top: 30px; 
  }
